body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div:first{
    background-color: green;
}

div:nth-of-type(2) {
    background-color: green;
    align-self: center;
}