body {
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    height: 2px;
    background-color: #ebd9d9;
    border: none;
}

.surbrillance {
    background-color: yellow;
}

.indentation-50 {
    padding-left: 50px;
}

.indentation-10 {
    padding-left: 10px;
}

.post-image {
    padding-top: 30px;
    text-align: center;
}

img {
    border: 5px solid rgb(255, 115, 0);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-center {
    width: 80%;
    margin: auto;
}

.tr-red th {
    border-color: red;
    color: red;
}

.tr-none-border th {
    border-right: hidden;
    border-left: hidden;
}

.td-space {
    padding: 10px 10px 10px 5px;
}

.center {
    text-align: center;
}
